@model MVCwithSimpleIdentity.Models.ViewModels.SmallUserModel
@{
    var user = Model != null ? Model.Name + " " + Model.Surname : "User";
}
@if (User.Identity.IsAuthenticated)
{
    <li class="list-inline-item">

        @Html.ActionLink("Hello "+user +" !",
                         "Index",
                         "ManageProfile",
                         routeValues: null,
                         htmlAttributes: new { @class= "btn btn-outline-success",
                                               title ="Edite profile" })
    </li>
    <li class="list-inline-item">
        @Html.ActionLink("Log Out",
                         "Logout",
                         "Account",
                         routeValues: null,
                         htmlAttributes: new { @class = "btn btn-outline-success",
                                               title = "Logout" })
    </li>
}
else
{
    <li class="list-inline-item">
        @Html.ActionLink("Sign Up",
                         "Register",
                         "Account",
                         routeValues: null,
                         htmlAttributes: new { @class= "btn btn-outline-danger",
                                               title ="Register new user" })
    </li>
    <li class="list-inline-item">
        @Html.ActionLink("Sign In",
                         "Login",
                         "Account",
                         routeValues: null,
                         htmlAttributes: new { @class = "btn btn-outline-danger",
                                               title = "Login with existing account" })
    </li>
}
