@if (User.Identity.IsAuthenticated)
{
    <li>
        @Html.ActionLink("Hello "+User.Identity.Name +" !",
                         "Index",
                         "ManageProfile",
                         routeValues: null,
                         htmlAttributes: new { @class= "btn btn-outline-success",
                                               title ="Edite profile" })
    </li>
    <li>
        @Html.ActionLink("Log Out",
                         "Logout",
                         "Account",
                         routeValues: null,
                         htmlAttributes: new { @class = "btn btn-outline-success",
                                               title = "Logout" })
    </li>
}
else
{
    <li>
        @Html.ActionLink("Sign Up",
                         "Register",
                         "Account",
                         routeValues: null,
                         htmlAttributes: new { @class= "btn btn-outline-danger",
                                               title ="Register new user" })
    </li>
    <li>
        @Html.ActionLink("Sign In",
                         "Login",
                         "Account",
                         routeValues: null,
                         htmlAttributes: new { @class = "btn btn-outline-danger",
                                               title = "Login with existing account" })
    </li>
}
